# Set URL for your scoped packages.
# For example package with name `@utfprfabricadesoftware/utfpr-lib-ui-react` will use this URL for download
@utfprfabricadesoftware:registry=https://gitlab.com/api/v4/packages/npm/
registry="https://gitlab.com/api/v4/packages/npm"

# Add the token for the scoped packages URL. This will allow you to download
# `@utfprfabricadesoftware/` packages from private projects.
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}